@CHARSET "ISO-8859-1";


	
		
	header{
		text-align:center;
		padding:20px; padding-bottom:0px;
		white-space: nowrap;
		}
	
	body{
		background-color:#D6D7E9;
		font-family: 'Open Sans', sans-serif;
		color:black;
		}
	
	.fixed-side-column {
		clear:left;
		width:219px;
		float: left;
		padding: 20px;   
			}
	
	.nav li a {	color:black;}	
	
	.nav li a:hover {
		background-color: #666666;
		color:#ffffff;
		border:none;
		border-left: 6px solid #000000;}
	
	.fixed-side-column .active {
		background-color: #e9e8d6;
		border:none;
		border-left: 6px solid #000000;}
	
	
	.content {
		margin-left:230px;
		padding-right:50px;
		font-size:large;}
		
	
	h1{
		font-size:x-large;
		padding-bottom: 0.4em;
		margin-top:0px;
		margin-bottom: 25px;
		letter-spacing: .15em;
		text-transform: uppercase;
		border-bottom: 3px solid #e9e8d6;
		text-align:right;
		font-weight: bold;
		color:#333;}
	
	h1 span{font-weight: normal;font-size:80%;letter-spacing: 0em;
	}
	
	h3{padding:20px}	
	h4{margin-top:0px; font-size: 100%; font-weight:bold	}
	
	.Beschreibung
		{color:black;
		margin:40px;}
	
	.Beschreibung li {padding-bottom:3px}
	
	.Kursinfos
		{color:black;
		margin:30px;}
	
	
	
	#Hintergrund {
		background: url(../img/Logograu.gif);
		max-height:600px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index:-1;
		}
	.panel-body br {line-height:200%}
	.panel-body a {color:black}
	
	.breadcrumb {color:none; background:none;border:none;border-bottom: 3px solid #e9e8d6;}
	.breadcrumb a{color:#333}
	.breadcrumb > li + li:before {
   		 color: #333;
  		 content: "/ ";
   		 padding: 0 5px;
}

table {
  overflow: hidden;
  border-color:white !important;
  background:rgba(233, 232, 214, .7) !important;
  font-size:small !important; 
	z-index: 5 !important;
  }

table, td, th {
	position: relative;
	width: 200px;
	border-color:white !important;

}
th  {
    background-color: white;text-align:center;vertical-align:middle !important  }

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

	