@CHARSET "ISO-8859-1";


	body{
		background-color:#D6D7E9;
		font-family: 'Open Sans', sans-serif;
		color:black;
		}
		
	header{
		text-align:center;
		padding:20px;
		white-space: nowrap;
		}
	
	.fixed-side-column {
		clear:left;
		width:219px;
		float: left;
		padding: 20px;   
			}
	.content {
		margin-left:230px;
		padding-right:50px;
		font-size:large;}
			
	.nav li a {	color:black;}	
	
	.nav li a:hover {
		background-color: #666666;
		color:#ffffff;
		border:none;
		border-left: 6px solid #000000;}
	
	.fixed-side-column .active {
		background-color: #e9e8d6;
		border:none;
		border-left: 6px solid #000000;}
	
	h1{
		font-size:x-large;
		padding-bottom: 0.4em;
		margin-bottom: 2em;
		letter-spacing: .15em;
		text-transform: uppercase;
		border-bottom: 3px solid #e9e8d6;
		text-align:right;
		font-weight: bold;
		color:#333;
		}
	p, .Beschreibung , .Kursinfos{color:black;
		padding:20px;
		
		}
	

	
	h1 span{font-weight: normal;font-size:80%;letter-spacing: 0em;
	}
	#Hintergrund {
		background: url(../img/Logograu.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		}
	.panel-body br {line-height:200%}
	.panel-body a {color:black}
	
	.breadcrumb {color:none; background:none;border:none;border-bottom: 3px solid #e9e8d6;}
	.breadcrumb a{color:#333}
	.breadcrumb > li + li:before {
   		 color: #333;
  		 content: "/ ";
   		 padding: 0 5px;
}
	